$Purple: hsl(259, 100%, 65%);
$Light-red: hsl(0, 100%, 67%);
$White: hsl(0, 0%, 100%);
$Off-white: hsl(0, 0%, 94%);
$Light-grey: hsl(0, 0%, 86%);
$Smokey-grey: hsl(0, 1%, 44%);
$Off-black: hsl(0, 0%, 8%);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Poppins", sans-serif;
}
body {
  background-color: $Light-grey;
}

.contents {
  width: 600px; /* Set the desired width */
  height: 500px; /* Set the desired height */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $White;
  padding: 50px;
  border-radius: 8% 8% 30% 8%;

  .container {
    display: flex;
    gap: 30px;

    .input {
      input {
        font-size: 32px;
        width: 100px;
      }
    }
  }
  .hr-container {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 5px;

    .hr-line {
      width: 100%;
      position: relative;
      // margin: 15px;
      border-bottom: 1px solid #000;
    }
    .img {
      background-color: $Purple;
      border-radius: 50%;
      padding: 10px;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
